.circle {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #f38385;
      margin-left: -2px;
      border: 2px solid #000;
    }
  
.hrClass{
  border-top: 4px solid black;
  width:5.6rem;
}

.circleNotStarted {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: white;
      margin-left: -2px;
      border: 2px solid #000;
    }

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
  margin-top: -5px;
  margin-left: -2px;
}

.round label:after {
 border: 2px solid #000;
    border-top: none;
    border-right: none;
    content: "";
    height: 8px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 15px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #dddddd;
  border-color: #66bb6a;
  border: 2px solid #000;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}