.headerTitle{
    font-size: 20px;
    font-weight: 600;
}

.tableHeader{
    /* background-color:#f0646c; */
    background-color:#F0737A;
    text-align:center;
    color:white
}

/* .tooltip-btn:hover + .slds-popover.slds-popover_tooltip.slds-hide {
    display : block!important;
} */