.slds-scope{
    width:100% !important;
}


.slds-scope .slds-file-selector{
    width:100% !important;
}

.slds-scope .slds-file-selector__dropzone{
    width:100% !important;
}

.slds-scope .slds-file-selector__dropzone slot{
    /* display: inline-block; */
    width:100% !important;
    padding-top:2%;
    padding-bottom:2%;
    height: 212px ;    
    display: flex !important;
}

.slds-scope .slds-file-selector__dropzone slot .slds-file-selector__body{
    margin-left: 41% !important;
}

.slds-file-selector{
    width:100% !important;
}

.slds-file-selector__dropzone{
    width:100% !important;
}

.slds-file-selector__dropzone slot{
    width:100% !important;
    padding-top:2%;
    padding-bottom:2%;
    height: 212px ;    
    display: flex !important;
}

.slds-file-selector__dropzone slot .slds-file-selector__body{
    margin-left: 41% !important;
}

@media only screen and (max-width: 600px) {
    .slds-file-selector__dropzone slot .slds-file-selector__body {
        margin-left: 31% !important;
    }
}